// Tabs
.segment.tab.tab__pane {
  border-width: 1px 0 0 0;
  padding: 25px 0;
}

// Fields
.input, textarea {
  width: 100%;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

label {
  display: block;
  font-weight: 600;
  padding-bottom: 5px;
}

input ~ label {
  font-weight: 400;
}